

    <div id="blackHeader">
        <a href="/events"><i class="fa fa-angle-left" id="leftArrow"></i></a>
        <span id="monthElement"></span>
        <span id="yearElement"></span>
        <i class="fa fa-angle-right" id="rightArrow"></i>
    </div>

    <div id="pinkHeader">
        <ul id="weekdays">
            <li>M</li>
            <li>T</li>
            <li>W</li>
            <li>T</li>
            <li>F</li>
            <li>S</li>
            <li>S</li>
        </ul>

        <!-- innehållet i li-taggen kan vara ett värde från en funktion i någon av våra modeller? skapa en funktion som genererar datum -->
        <ul id="dateOfWeek">
            <li id="monday"><%= events %></li>
            <li id="tuesday"><%= dates %></li>
            <li id="wednesday"><%= filteredEvents %></li>
            <li id="thursday"></li>
            <li id="friday"></li>
            <li id="saturday"></li>
            <li id="sunday"></li>
        </ul>
    </div>


    <% events.forEach(function(event) { %>
        <div class="eventContainer">
          <p class="event-title"><%= event.title %></p>
          <p class="event-time"><%= event.time %></p>
          <button class="edit-button" data-id="<%= event.id %>">Edit</button>
          <button onclick="handleDelete(<%= event.id %>)">Delete</button>
        </div>
        <% }); %>
