<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/8093dc5ac1.js" crossorigin="anonymous"></script>
    <title>Template</title>
</head>

<body>

    <%- include ('partials/header.ejs') %>

<header>
    <div id="blackHeader">
        <a href="/events"><i class="fa fa-angle-left" id="leftArrow"></i></a>
        <span id="monthElement"></span>
        <span id="yearElement"></span>
        <i class="fa fa-angle-right" id="rightArrow"></i>
    </div>

    <div id="pinkHeader">
        <ul id="weekdays">
            <li>M</li>
            <li>T</li>
            <li>W</li>
            <li>T</li>
            <li>F</li>
            <li>S</li>
            <li>S</li>
        </ul>

        <!-- innehållet i li-taggen kan vara ett värde från en funktion i någon av våra modeller? skapa en funktion som genererar datum -->
      <ul id="dateOfWeek">
            <li id="monday"></li>
            <li id="tuesday"></li>
            <li id="wednesday"></li>
            <li id="thursday"></li>
            <li id="friday"></li>
            <li id="saturday"></li>
            <li id="sunday"></li>
        </ul>

        <ul id="testWeek">
            <%theWeek.forEach(function(nr) {%>
                <li><%=nr.getDate()%></li>
            <%})%>
        </ul>
    </div>
</header>

    <form method="post" autocomplete="off" action="/events" id="theForm">
        <!-- <label for="event[title">Title:</label> -->
        <input required type="text" name="event[title]" id="event">
        <!-- <label for="event[time]">When:</label> -->
        <input required type="date" name="event[time]" id="time">
        <input type="submit" value="+" id="addEvent">
       
    </form>

    <% events.forEach(function(event) { %>
        <div class="eventContainer">
          <p class="event-title"><%= event.title %></p>
          <p class="event-time"><%= event.time %></p>
          <button class="edit-button" data-id="<%= event.id %>">Edit</button>
          <button onclick="handleDelete(<%= event.id %>)">Delete</button>
        </div>
        <% }); %>

        <%- include ('partials/footer.ejs') %>

    <script src="./js/app.js"></script>

</body>

</html>